*.o
*.lo
*.la
*.log
.libs/
config.status
libtool
sample/event-test
sample/signal-test
sample/time-test
stamp-h1
test/.libs/
test/bench
test/regress
test/test-eof
test/test-init
test/test-time
test/test-weof
